@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
* {
    box-sizing: border-box;
    margin:0px;
    padding: 0;
}

body {
    background-color: #2d2e42;
}

header {
    background: white;
    padding: 20px;
}

header > h1 {
    color: black;
    font-family: Asap, sans-serif;
}

header > h1, h2 {
    display: inline;
    font-family: Asap, sans-serif;
}

header > h2 {opacity: 0.6;}

header > a {
    text-decoration: none;
    color: black;
    font-family: Asap, sans-serif;
    transition: 0.4s;
    opacity: 0.6;
}

header > a:hover {
    opacity: 1;
}

#page-name {
    float: right;
    opacity: 1;
}

/* main  */
.title {
    padding: 50px;
}

.title > h1 {
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
}

.if-learning-container {
    display: block;
    margin: auto;
    width: 50%;
}

.if-learning-container > img {
    height: 300px;
    width: 300px;
}

.if-learning-container > p {
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
}






